 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.45), rgba(41,46,51,0.45)), url('images/image.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 176px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 4px 4px 8px rgba(26,26,26,0.4);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(26,26,26,0.4);
  width: 839px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 64px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2203px;
}

.u-section-2 .u-accordion-1 {
  width: 800px;
  margin: 80px auto 44px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 800px;
  margin: 0 -17px 0 auto;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 276px;
}

.u-section-2 .u-container-layout-2 {
  padding: 13px 0;
}

.u-section-2 .u-text-1 {
  margin: 0 0 0 27px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 720px;
}

.u-section-2 .u-container-layout-4 {
  padding: 5px 30px 3px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 720px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 14px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-accordion-item-3 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-accordion-item-4 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 19px 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 440px;
  height: auto;
  width: 719px;
  margin: 0 auto;
}

.u-section-2 .u-accordion-item-5 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-accordion-item-6 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 34px 30px 10px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 447px;
  margin: 0 17px 0 14px;
}

.u-section-2 .u-accordion-item-7 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-7 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-2 .u-custom-html-3 {
  min-height: 440px;
  height: auto;
  margin: 0 44px 0 16px;
}

.u-section-2 .u-accordion-item-8 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-8 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 29px 30px;
}

.u-section-2 .u-group-1 {
  min-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.1;
  letter-spacing: 0px;
}

.u-section-2 .u-text-7 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-8 {
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-accordion-item-9 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-9 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-15 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-item-10 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-10 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-text-17 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-2 .u-text-19 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-2 .u-accordion-item-11 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-11 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-11 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-text-20 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-21 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-22 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-item-12 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-12 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-12 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-text-23 {
  margin: 0;
}

.u-section-2 .u-text-24 {
  margin: 21px 0 0;
}

.u-section-2 .u-text-25 {
  margin: 19px 0 0;
}

.u-section-2 .u-accordion-item-13 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-13 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-13 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-13 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-text-26 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-27 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-item-14 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-14 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-14 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-14 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-text-28 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-29 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-item-15 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-15 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-15 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-15 {
  min-height: 263px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px 18px;
}

.u-section-2 .u-custom-html-4 {
  height: auto;
  min-height: 440px;
  margin: 0 24px 0 0;
}

.u-section-2 .u-accordion-item-16 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-16 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-16 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-16 {
  min-height: 785px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 135px;
  height: 203px;
  margin: 0 auto;
}

.u-section-2 .u-text-30 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-31 {
  margin: 0;
}

.u-section-2 .u-accordion-item-17 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-17 {
  background-image: none;
  --radius: 11px;
  font-weight: 400;
  padding: 20px 30px;
}

.u-section-2 .u-icon-17 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-17 {
  min-height: 500px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px 17px;
}

.u-section-2 .u-custom-html-5 {
  height: auto;
  min-height: 440px;
  margin: 0 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 594px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 594px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 740px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 0;
    width: 720px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 735px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 340px;
  }
}